@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "black";
  --color-primary: rgb(29, 155, 240);
  --color-secondary: rgb(91, 33, 182); /* purple-700 */
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
}
